div.gridcontainer {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px;
    gap: 20px;
    margin-top: 50px;
    margin-left: 100px;
    width: 570px;
}

div {
    color: white;
    text-align: center;
    font-size: x-large;
    border: 2px solid gray;
    padding: 20px;
    background-color: black;
}

.grid-1 {
    grid-column-start: 1;
    grid-column-end: 6;
    text-align: right;
    background-color: gray;
}

.grid-2 {
    background-color: brown;
}

.grid-3 {
    background-color: brown;
}

.grid-4 {
    grid-column-start: 5;
    grid-row-start: 5;
    grid-row-end: 7;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}